node_modules/
dist/
*.js.map
logs/
openapi.key
hf.key
.venv/
__pycache__/
.DS_Store
log.txt

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
